body
{
    background-color:black;
    color: white;
}

#mousePointer
{
    opacity: 0.8;
    pointer-events:none;
}

#mouseFollower
{
    top: 0px;
    position: absolute;
    pointer-events:none;
}

#svg1
{
    z-index: -1;
    pointer-events:none;
}