@font-face{
    font-family: myFont;
    src: url(assets/fonts/library.otf);
}
body{
    background-color: black;
    font-family: "Arial", sans-serif;
}
h1{
    color: gainsboro;
    font-family: sans-serif;
}
p{
    color:white;
    font-size: 1vw;
}
img{
    position: absolute;
}
/* TITLE */
#title{
    padding-top: 3%;
    width: 97%;
}
#img1, #img2, #img3, #img4, #img5{
    width: 30%;
}
#img1{
    padding-left: 25%;
    padding-top: 27%;
}
#img2{
    padding-left: 55%;
    padding-top: 27%;
}
#d1, #d2, #d3{
    width: 100%;
    margin-top: 39%;
    stroke: #8b001f;
    stroke-width: 4;
}
/* ABOUT */
#about-sec{
    font-size: 2vw;
    margin-left: 5%;
}
#about-txt{
    margin-left: 10%;
    margin-right: 40%;
}
#img3{
    margin-left: 60%;
}
#img4{
    margin-top: 8%;
    margin-left: 30%;
}
#img5{
    margin-top: 13%;
}
/* CONTACT */
.contact{
    width: 38%; 
    position: absolute; 
    border: solid 1px white; 
    padding: 2% 5%;"
}
/* SIDEBAR */
.sidebar{
    position: fixed;
    top: 0%;
    border: 1px solid #ababa6;
    padding-right: 2%;
}
.sidebar li{
    padding: 15% 0%;
}
.sidebar a{
    color: #ababa6;
    font-style: italic;
    font-size: 1.2vw;
}
.sidebar a:hover{
    color: #8b001f;
    font-size: 1.3vw;
}