@font-face{
    font-family: myFont;
    src: url(assets/fonts/library.otf);
}
body{
    background-color: black;
    font-family: sans-serif;
}
h1{
    color: white;
    font-family: myFont;
}
#title{
    padding-left: 3%;
    padding-top: 5%;
}

/* SIDEBAR */
.sidebar{
    position: fixed;
}
.sidebar li{
    color: white;
}