@font-face{
    font-family: myFont;
    src: url(assets/fonts/library.otf);
}
body{
    background-color: black;
    font-family: "Arial", sans-serif;
}
h1{
    color: gainsboro;
    font-family: myFont;
}
img{
    position: absolute;
}
/* TITLE */
#title{
    padding-top: 3%;
    width: 97%;
}
#img1{
    padding-left: 25%;
    padding-top: 27%;
    width: 30%;
}
#img2{
    padding-left: 55%;
    padding-top: 27%;
    width: 30%;
}
#d1{
    width: 100%;
    padding-top: 39%;
    stroke: #8b001f;
    stroke-width: 4;
}
/* ABOUT */

/* SIDEBAR */
.sidebar{
    position: fixed;
    top: 15%;
    border: 1px solid #ababa6;
    padding-right: 2%;
}
.sidebar li{
    padding: 15% 0%;
}
.sidebar a{
    color: #ababa6;
    font-style: italic;
    font-size: 14px;
}
.sidebar a:hover{
    color: #8b001f;
    font-size: 15px;
}