/* MAIN BODY */
body{
    height: 100%;
    margin: 0;
    font: 400, 15px, "Lato", sans-serif;
    color: gray;
}
div{
    display: block;
}

/* SIDEBAR */
#sidebar{
}
ul{
    list-style-type: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: black;
    margin: 0px;
    width: 100%;
}
li{
    float: left;
    font-size: 15px;
    font-family: sans-serif;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover{
    color: black;
    background-color: white;
}

/* HOMEIMAGE */
.bgimg1{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -10px;
}
.bgimg1{
    background-image: url(80s-retro-background-11.jpg);
    height: 500px;
}
.caption{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
}
.caption.span.border{
    background-color: black;
    color: white;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}