/* MAIN BODY */
@font-face{
    font-family: myFont;
    src: url(library.otf);
}
body, html{
    height: 100%;
    margin: 0;
    color: gray;
    background-color: black;
}
.border{
    display: block;
    font-family: myFont;
    font-size: 24px;
}

/* SIDEBAR */
#sidebar{
}
ul{
    list-style-type: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: black;
    margin: 0px;
    width: 100%;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover{
    color: black;
    background-color: white;
}

/* PARALLAX */
.bgimg1, .bgimg2{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    margin-left: -10px;
}
.bgimg1{
    background-image: url(images/home.jpg);
    height: 400px;
}
.bgimg2{
    background-image: url(images/contact.jpg);
    height: 400px;
}
.caption{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
}
.caption.span.border{
    background-color: black;
    color: white;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}